@mixin animateBackground($duration) {
    background: linear-gradient(45deg, #990199, #990199);
    background-size: 200% 200%;
    animation: moveBackground $duration ease infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
        
    }

    100% {
        background-position: 0% 50%;
    }
}


.board {
    display: grid;
    grid-template-columns: repeat(7, min-content);
}

.container {
    display: flex;
    padding-left: 2rem;
    margin: 20px;
}

.row {
    margin-left: 0.6rem;
}

.p1 {
    color: red;
    margin-left: 2rem;
}

.p2 {
    color: blue;
    margin-left: 2rem;

}

.current-player {
    display: flex;
}

.column {
    transition: background-position 0.8s;

    &.highlight {
        @include animateBackground(8s)
    }

}

.set-button {
    width: 100%;
}

