.board {
    display: grid;
    grid-template-columns: repeat(7, min-content);
    align-content: center;
    align-items: center;

}

.container {
    display: flex;
    padding-left: 2rem;
    margin: 20px;
}

.row {
    margin-left: 0.6rem;
}

.p1 {
    color: red;
    margin-left: 2rem;
}

.p2 {
    color: blue;
    margin-left: 2rem;

}

.current-player {
    display: flex;
}

.column {
    display: flex;
    align-content: center;
    align-items: end;
}

.set-button {
    width: 100%;
}