.p1 {
    color: red !important;
    fill: red !important;
}

.p2 {
    color: blue !important;
    fill: blue !important;
}

.svg-container {
    height: 100px;
    width: 100px;
}

.circle {
    r: 45px;
    cx: 45px;
    cy: 45px;
}



@media (preferes-color-scheme: dark) {
    .dark-circle {
        color: #ddd;
        fill: #ddd;
    }
}
