<main class="main-home-container">
  <div class="header">
    <h1 class="title">Connect 4</h1>
    <app-theme-toggle class="dark-mode-button"></app-theme-toggle>
  </div>
  <div>
    <form class="form-grid">
      <div class="p1-input">
        <label>Player 1</label>
        <input type="text" #p1 title="Player 1 Name" />
      </div>

      <div class="p2-input">
        <label>Player 2</label>
        <input type="text" #p2 title="Player 2 Name" />
      </div>
    </form>
  </div>
  <button class="play-button" (click)="play(p1.value, p2.value)" type="submit">
    Play
  </button>
</main>
