.form-grid {
    display: inline-grid;
    grid-template-columns: repeat(2, max-content);
    width: max-content;
    margin-top: 10vh;

}

.p1-input {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    margin-right: 1vh;
}

.p2-input {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;


}

.play-button {
    margin-top: 2vh;
    width: 10vw;
}

.main-home-container {
    display: inline-block;
    align-content: center;
    text-align: center;
    width: 100vw;

}

.title {
    padding-top: 10vh;
    animation: title-animation 8s infinite;
    margin-left: auto;
    transform: translateX(1.3vw);

}

label {
    font-size: x-large;
    animation: label-animation 8s infinite;
    margin-bottom: 1vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode-button {
    margin-left: auto;
    transform: translate(-5vw, -5vh);
}

@keyframes label-animation {
    0% {
        color: blue;
    }

    50% {
        color: red;
    }

    100% {
        color: blue;
    }
}

@keyframes title-animation {
    0% {
        color: blue;
    }

    50% {
        color: red;
    }

    100% {
        color: blue;
    }
}